doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    h1 Registration form
    
    form(method='POST' action='')
        div.form-group
            label(for='name') Name:
                input#name.form-control(type='text' name='name' required='true' value=(undefined===user ? '' : user.name))
        div.form-group   
            label(for='surname') Surname:
                input#surname.form-control(type='text' placeholder= 'Optional' name='surname' value=(undefined===user ? '' : user.surname))
        div.form-group
            label(for='username') Username:
                input#username.form-control(type='text' name='username' required='true' value=(undefined===user ? '' : user.username))
            if user && user.username
                span.text-danger Username already in use
        div.form-group  
            label(for='email') Email:
                input#email.form-control(type='text' name='email' required='true' value=(undefined===user ? '' : user.email))
            if user && user.email
                span.text-danger Email already in use
        div.form-group
            label(for='birthdate') Date of birth:
                input#birthdate.form-control(type='date' name='birthdate' value=(undefined===user ? '' : user.birthdate))
        
        button.btn.btn-primary(type='submit') Submit
    
    if errors
        ul
            for error in errors
                li!= error.msg
    
    
    

      
    