extends ../layout 

block content

    h2 Post list

    ul
        each post in post_list
            li
                a(href='/posts/'+post._id) #{post.title} 
                |   - #{post.owner.name}

                p #{post.distance} m.
        
        else
            p There are no posts near you    